body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

h1 {
    font-weight: 400;
    font-size: 3rem;
}

h1, h2, h3 {
    color: $color-primary;
    border-bottom: 1px solid $color-divider;
    font-weight: 400;
}

h1 {
    font-weight: 300;
}

.column {
    padding: 1rem;
}

.input-field {
    width: 100%;

    label {
        width: 100%;
        display: block;
    }

    input,
    textarea {
        max-width: 365px;
    }
}

.btn {
    margin-bottom: 0.5rem;
}